.home {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
}

.title {
    position: absolute;
    color: rgba(144, 255, 220, 0.8);
    font-size: 75px;
    font-weight: 500;
    text-shadow: 1.5px 1.5px 3px rgba(43, 91, 105, 0.30);
    animation: color-title 240s infinite;
}

.scrollDiv {
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scrollText {
    margin-top: 93.5vh;
    color: rgba(190, 250, 230, 0.9);
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 3px;
    text-shadow: 1.5px 1px 2px rgba(43, 91, 105, 0.30);
}

.scrollArrow {
    background: rgba(190, 250, 230, 0.9);
    height:20px;
    width: 60px;
    clip-path: polygon(0 0, 50% 100%, 100% 0, 97% 0, 50% 95%, 3% 0);
    animation: arrow-bounce 13s infinite ease-in-out;
    margin-bottom: 5px;
}


@keyframes color-title {
    0% {
        color: rgba(144, 255, 220, 0.85);
    }
    50% {
        color: rgba(162, 250, 222, 0.8);
    }
    100% {
        color: rgba(144, 255, 220, 0.85);
    }
}

@keyframes arrow-bounce {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(3px);
    }
    40% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(3px);
    }
    80% {
        transform: translateY(0);
    }
    85% {
        transform: translateY(4px);
    }
    90% {
        transform: translateY(0);
    }
    95% {
        transform: translateY(4px);
    }
    100% {
        transform: translateY(0);
    }
}